body{
    background: rgb(123, 162, 165);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    margin: auto;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

/*Botão principal*/
.dot{
    outline: none;
    font: normal 16pt Arial;
    color: rgb(255, 255, 255);
    line-height: 145px;
    height: 140px;
    width: 140px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 9px rgba(0, 0, 0, 0.377);
    padding: 0;
    border: none;
    margin-top: 20px;
}
/*Interatividade botão*/
.dot:hover {background-color: #f12727}
.dot:active {
    background-color: green;
    box-shadow: 0 5px rgba(0, 0, 0, 0.377);
    transform: translateY(4px);
}

/*Botão reset*/
.reset{
    outline: none;
    font: normal 12pt Arial;
    color: rgb(255, 255, 255);
    height: 20px;
    width: 60px;
    background-color: rgb(235, 30, 30);
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 9px rgba(0, 0, 0, 0.377);
    padding: 0;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}
/*Interatividade botão reset*/
.reset:hover {background-color: #f12727}
.reset:active {
    background-color: rgb(128, 0, 0);
    box-shadow: 0 5px rgba(0, 0, 0, 0.377);
    transform: translateY(4px);
}

fieldset{
    display: inline;
    margin-bottom: 10px;
    border-radius: 10px;
}

div#timer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    margin-left: 50%;
    transform: translate(-50%);
    color: rgb(168, 7, 7);
    margin-bottom: 5px;
    background: rgba(255, 46, 46, 0.13);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(243, 39, 39);
}
#seconds, #tens{
    font-size: 65px;
}

#quantidade {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: green;
    margin-left: 50%;
    transform: translate(-50%);
    background: rgba(76, 255, 85, 0.322);
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 40px;
}

#cps{
    width: 200px;
}